@model abstract_factory.Models.UserInterfaceViewModel
@{
    ViewData["Title"] = @Model.Text.Title;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">
              @Model.Text.MainContext["Main"]
            </p>
            <!-- Gallery -->
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="@Model.Image.Images["image-1-h"]"
                         style="width: 300px; height: auto;"
                         class="shadow-1-strong rounded mb-4"
                         alt="image-1" />

                    <img src="@Model.Image.Images["image-2-v"]"
                         style="width: 300px; height: 550px;"
                         class="shadow-1-strong rounded mb-4"
                         alt="image-2" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="@Model.Image.Images["image-3-v"]"
                         style="width: 300px; height: 550px;"
                         class="shadow-1-strong rounded mb-4"
                         alt="image-3" />

                    <img src="@Model.Image.Images["image-6-h"]"
                         style="width: 300px; height: auto;"
                         class="shadow-1-strong rounded mb-4"
                         alt="image-4" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="@Model.Image.Images["image-5-h"]"
                         style="width: 300px; height: auto;"
                         class="shadow-1-strong rounded mb-4"
                         alt="image-5" />

                    <img src="@Model.Image.Images["image-4-v"]"
                         style="width: 300px; height: auto;"
                         class="shadow-1-strong rounded mb-4"
                         alt="image-6" />
                </div>
            </div>

            <!-- Gallery -->
        </div>
    </div>

    <div class="mt-4">
        <a href="@Url.Action("Index", new { lang = "ru" })" class="btn btn-primary">Русский</a>
        <a href="@Url.Action("Index", new { lang = "fr" })" class="btn btn-primary">Français</a>
        <a href="@Url.Action("Index", new { lang = "it" })" class="btn btn-primary">Italiano</a>
    </div>
</div>